<% if user.role =="admin" %>
<nav class="navbar navbar-inverse">
<% else %>
<nav class="navbar navbar-default">
<% end %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= (user_profile_path user.id) %>><%= user.name %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a>Bio: <%=user.bio %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @friends.include? user %>
            <li class="active"><%= link_to("Add Friend",user_addFriend_path(user.id), method: "post") %></li>
        <% end %>
        <% if current_user.role=="admin" %>
          <li class="active"><%= link_to(:Edit,user_edit_path(user.id),method: "get") %></li>
          <li class="active"><%= link_to(:Delete,user_delete_path(user.id),method: "delete") %></li>
          <% if user.role!="admin" %>
              <li class="active"><%= link_to(:Promote,user_promote_path(user.id),method: "patch") %></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
