<table class="table">
  <thead>
    <td style="width:100%" ><%= button_to(publication.user.name,user_profile_path(publication.user.id),method: :get, class: 'btn btn-primary btn-sm')%></td>
    <% if current_user.role="admin" or @publication.user==current_user %>
		<td><%= button_to("Delete",publication_path(publication),method: :delete, class: 'btn btn-primary btn-sm')%></td>
		<td><%= button_to("Edit",edit_publication_path(publication),method: :get, class: 'btn btn-primary btn-sm')%></td>
	<% end %>
	<% if @shared=current_user.shared_publications.find_by(publication: publication) %>
		<td><%= button_to("Unshare",unshare_publication_path(@shared),method: :delete, class: 'btn btn-danger btn-sm')%></td>
	<% else %>
		<td><%= button_to("Share",share_publication_path(publication),method: :post, class: 'btn btn-success btn-sm')%></td>
	<% end %>
	<% if @like=publication.likes.find_by(user: current_user) %>
    	<td><%= button_to("Likes: #{publication.likes.length}",dislike_publication_path(@like),method: :delete, class: 'btn btn-danger btn-sm')%></td>
    	<% else %>
		<td><%= button_to("Likes: #{publication.likes.length}",like_publication_path(publication),method: :post,class: 'btn btn-success btn-sm')%></td>
	<% end %>
  </thead>
  <tbody>
    <tr>
      <td colspan=4>
          <% if publication.image%>
		  	<img src="<%= "/"+publication.image %>" style="width:304px;height:228px;">
		  <% end %>
		  <br><%=publication.text%></td>
      
    </tr>
  </tbody>
</table>
